input[type=text] {
  border: none;

  background-image: url('abc2.png');
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-size: cover;
}
#kl:active{
	border: 2px solid red;
}
placeholder{
	color: white;
}
body {
  background-image: url('abc2.png'); 
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-size: cover;
  
}
table{
	 box-shadow: 10px 1px 10px 10px grey;
}